<section>
  <span class="image" style="object-fit: cover;">
    <img src={{@post.coverImage}} alt="" style="height: 100%;object-fit: contain;width: 100%;"/>
  </span>

  <div class="content">
    <div class="inner">
      <h2>{{@post.title}}</h2>
      <p>{{@post.brief}}</p>
      <ul class="actions">
        <li><a href="generic.html" class="button">Learn more</a></li>
      </ul>
    </div>
  </div>
</section>