<nav>
  <ul>
    <li><LinkTo @route="home">Home</LinkTo></li>
    <li><LinkTo @route="about">About Me</LinkTo></li>
    <li><LinkTo @route="blogs">Blogs</LinkTo></li>
    <li><LinkTo @route="contact">Get in Touch</LinkTo></li>
  </ul>
</nav>