<div id="wrapper">
  <section id="main" class="wrapper">
    <div class="inner">
      <h1 class="major">{{@model.title}}</h1>
      <span class="image fit"><img src={{@model.coverImage}} alt="" /></span>
      {{{@model.content}}}
    </div>
  </section>
</div>